<div class="content-wrapper">
  <div class="row m-0">
    <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 pr-md-0 pr-lg-0 pr-xl-0">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9" *ngIf="hotel">
      <nav>
        <ol class="breadcrumb bg-white m-0">
          <li> Home </li>
          <li> <span class="mx-2"> &gt; </span> Singapore </li>
          <li><span class="mx-2"> &gt; </span> Hotels</li>
          <li><span class="mx-2"> &gt; </span> {{hotel.name}}</li>
        </ol>
      </nav>

      <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="alert bg-green text-500 text-center px-0 fs-14 m-0">
          Last Booked in {{hotel.check_in}} / This deal ends in {{hotel.check_out}}
        </p>
      </section>

      <section class="row m-0 px-3 image-wrapper">
        <div *ngIf="hotel.images.length>0" class="w-100">
          <div class="w-100 d-flex justify-content-center py-2">
            <img [src]="hotel.images[selected]" class="selected-image">
          </div>
          <div class="d-flex justify-content-center flex-wrap w-100">
            <div *ngFor="let item of hotel.images; let i=index" class="p-2">
              <img [src]="item"
                class="img-thumbnail" [ngClass]="{'selected': i === selected}" (click)="selected=i">
            </div>
          </div>          
        </div>
      </section>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <section class="card">
          <article class="card-body row m-0 px-3 py-2">
            <h6 class="card-subtitle m-0 col-9 col-sm-8 col-md-9 col-lg-9 col-xl-9 p-0">
              {{hotel.name}}
              <span class="d-block fs-13 text-400 pt-2">{{hotel.address}}</span>
            </h6>

            <p class="rate-txt m-0 col-3 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-right p-0">
              <span class="rate rounded mr-1">{{hotel.ratings}} </span>
              <span>Awesome.</span>
              <span class="m-0 d-block pt-2">{{hotel.reviews}} Reviews</span>
            </p>
          </article>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
        <section class="card">
          <article class="card-body px-3 pt-2 pb-0">
            <h6>Faclities Offered</h6>

            <p class="row m-0 pt-2">
              <label class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 custom-checkbox mb-2" *ngFor="let item of hotel.facility">
                <input type="checkbox">
                <span class="checkmark"></span>
                <span class="ratings ml-1">
                  {{item.name}}
                </span>
              </label>
            </p>
          </article>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
        <section class="card">
          <article class="card-body row justify-content-between px-3 pt-2 pb-0">
            <h6 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Nearby Locations</h6>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-1 fs-13" *ngFor="let item of hotel.near_by_restaurant">
              {{item.name}} <span class="float-right">1km</span>
            </div>
          </article>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
        <section class="card">
          <article class="card-body row px-3 pt-2 pb-0">
            <h6 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">What people say about this hotel</h6>

            <section class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
              <p class="rate-txt">
                <span class="rate rounded mr-1">4.5 </span>
                <span>Excellent</span>
                <span class="d-block pt-2 text-dark fs-14">"Lorem ipsum dummy text"</span>
                <span class="m-0 d-block">Jane Doe | 01 Jan 2019</span>
              </p>
            </section>

            <section class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0 mx-auto">
              <p class="h-75 border-left"></p>
            </section>

            <section class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
              <p class="rate-txt">
                <span class="rate rounded mr-1">4.5 </span>
                <span>Excellent</span>
                <span class="d-block pt-2 text-dark fs-14">"Lorem ipsum dummy text"</span>
                <span class="m-0 d-block">Jane Doe | 01 Jan 2019</span>
              </p>
            </section>
          </article>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
        <p class="alert bg-green text-500 text-center fs-14 text-center p-4">
          Marketing Banner
        </p>

        <h6 class="m-0 fs-14">Total Room Types & No of Rooms Available</h6>
        <p class="fs-10 mt-1 text-secondary"> Prices do not include taxes & fees</p>

        <div class="row m-0">
          <section class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3"  *ngFor="let item of rooms">
            <article class="card-body px-3 pt-2 pb-0">
              <h6 class="m-0 fs-14">{{item.name}} <small>{{item.description}}</small></h6>
              <p class="fs-10 mt-1 text-danger"> Last Booked in 20 mins!</p>

              <section class="row bg-grey">
                <article class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2 p-2 room-image-wrapper">
                    <img src="../../assets/images/image3.png" class="img-card-right mw-100">
                </article>

                <article class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-10">
                  <section class="row mx-0 pt-2">
                    <label class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 px-2 mb-2 fs-13 text-500"> Benefits
                    </label>

                    <label class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 px-2 mb-2 fs-13 text-500"> Price per
                      Night
                    </label>

                    <label class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 px-2 mb-2 fs-13 text-500"> Rooms </label>
                  </section>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3" [ngClass]="item===2?' rounded border border-success':''" >
                    <section class="row mx-0 px-3 py-2 text-light bg-success fs-13 text-500" *ngIf="item===2">
                      Recomended for you
                    </section>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
                      <section class="row mx-0 bg-white rounded">
                        <article class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3 border-right">
                          <ul class="list-unstyled m-0 include_options">
                            <li>
                              <p class="rb-value">Room Size: <label>{{item.room_size}}</label></p>
                            </li>
                            <li>
                              <p class="rb-value">Bed Size: <label>{{item.bed_size}}</label></p>
                            </li>
                            <li *ngIf="item.include_breakfast">
                              <p class="rb-value">Include Breakfast<label></label></p>
                            </li>
                            </ul>
                        </article>

                        <article class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-3 py-3 border-right">
                          <h5 class="m-0 text-right-md pl-3 price">INR {{item.price}}</h5>
                        </article>

                        <article class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3 border-right">
                          <input type="number" class="form-control form-control-sm" placeholder="1" value="">
                        </article>

                        <article class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 p-3">
                          <button type="button" class="btn btn-sm btn-save"
                          [routerLink]="['/checkout']"
                          [queryParams]="{hotel_id: hotel.id, room_id: item.id, checkout: hotel.checkout, checkin: hotel.checkin, no_of_adult: 0, no_of_child:0}"
                          >Book Rooms</button>
                        </article>
                      </section>
                    </div>
                  </div>

                </article>
              </section>
            </article>
          </section>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 mb-3">
        <section class="card">
          <article class="card-body px-3 pt-2 pb-0">
            <h6 class="mb-4">House Rules</h6>

            <ul class="list-unstyled">
              <li class="row mb-3">
                <section class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <label class="custom-radioButton fs-12 text-500 m-0">
                    <span class="rb-value">Check-in & Check-out</span>
                    <input type="radio" name="credInvolved">
                    <span class="checkmark"></span>
                  </label>
                </section>

                <section class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9">
                  <ul class="list-unstyled fs-12">
                    <li>Check-in from {{hotel.check_in}}</li>
                    <li>Check-out untill {{hotel.check_out}}</li>
                    <li>Reception open untill 02:00 AM</li>
                  </ul>
                </section>
              </li>

              <li class="row mb-3">
                <section class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <label class="custom-radioButton fs-12 text-500 m-0">
                    <span class="rb-value">Cancellation / Prepayment</span>
                    <input type="radio" name="credInvolved">
                    <span class="checkmark"></span>
                  </label>
                </section>

                <section class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9">
                  <ul class="list-unstyled fs-12">
                    <li>Cancellation and prepayment policies vary according to accomdations type. Please enter the dates
                      of your stay and check what conditions apply to your preffered room.</li>
                  </ul>
                </section>
              </li>

              <li class="row mb-3">
                <section class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <label class="custom-radioButton fs-12 text-500 m-0">
                    <span class="rb-value">Children and Beds</span>
                    <input type="radio" name="credInvolved">
                    <span class="checkmark"></span>
                  </label>
                </section>

                <section class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9">
                  <ul class="list-unstyled fs-12">
                    <li>children no allowed.</li>
                    <li>There's no capacity for cribs at this property</li>
                    <li>This property doesn't offer extra beds. </li>
                  </ul>
                </section>
              </li>

              <li class="row mb-3">
                <section class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <label class="custom-radioButton fs-12 text-500 m-0">
                    <span class="rb-value">Pets</span>
                    <input type="radio" name="credInvolved">
                    <span class="checkmark"></span>
                  </label>
                </section>

                <section class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9">
                  <ul class="list-unstyled fs-12">
                    <li>Pets are not allowed.</li>
                  </ul>
                </section>
              </li>
            </ul>
          </article>
        </section>
      </div>
    </div>

    <hr class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto pr-0 border-secondary">

    <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto" *ngIf="hotel">
      <h5 class="title col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">Similar Properties</h5>

      <article class="row  m-0">
        <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4  mb-3 relative">
          <img class="img-card-md" src="../../assets/images/image1.png">
          <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
          <p class="rate-txt m-0"><span class="rate rounded mr-1">4.5</span>
            Awesome. 1241 Reviews </p>
        </section>

        <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3 relative">
          <img class="img-card-md" src="../../assets/images/image2.png">
          <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
          <p class="rate-txt m-0"><span class="rate rounded mr-1">4.5</span>
            Awesome. 1241 Reviews </p>
        </section>

        <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3 relative">
          <img class="img-card-md" src="../../assets/images/image3.png">
          <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
          <p class="rate-txt m-0"><span class="rate rounded medium mr-1">4.5</span> Awesome. 1241 Reviews </p>
        </section>
      </article>
    </div>
  </div>
</div>
