<div class="content-wrapper">
  <div class="row m-0">
    <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 pr-md-0 pr-lg-0 pr-xl-0">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9" *ngIf="hotel">
      <nav>
        <ol class="breadcrumb bg-white m-0">
          <li> Home </li>
          <li> <span class="mx-2"> &gt; </span> Singapore </li>
          <li><span class="mx-2"> &gt; </span> Hotels</li>
          <li><span class="mx-2"> &gt; </span> Hotel Name</li>
        </ol>
      </nav>

      <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="alert bg-green text-500 text-center px-0 fs-14 m-0">
          Last Booked in {{hotel.check_in}} / This deal ends in {{hotel.check_out}}
        </p>
      </section>

      <section class="row m-0 px-3 image-wrapper">
        <table class="table table-sm table-borderless">
          <tr>
            <td width="45%">
              <img src="../../assets/images/image3@2x.png" class="img-card-left img-lg">
            </td>

            <td width="55%">
              <p><img src="../../assets/images/image3.png" class="img-card-right img-md"></p>
              <p class="d-flex relative">
                <img src="../../assets/images/image3.png" class="img-card-right img-sm">
                <img src="../../assets/images/image3.png" class="img-card-right img-sm">
                <a href="" class="btn btn-sm btn-link btn-ViewAll">View All Photos</a>
              </p>
            </td>
          </tr>
        </table>
      </section>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <section class="card">
          <article class="card-body row m-0 px-3 py-2">
            <h6 class="card-subtitle m-0 col-9 col-sm-8 col-md-9 col-lg-9 col-xl-9 p-0">
              {{hotel.name}}
              <span class="d-block fs-13 text-400 pt-2">{{hotel.address}}</span>
            </h6>

            <p class="rate-txt m-0 col-3 col-sm-4 col-md-3 col-lg-3 col-xl-3 text-right p-0">
              <span class="rate rounded mr-1">{{hotel.ratings}} </span>
              <span>Awesome.</span>
              <span class="m-0 d-block pt-2">{{hotel.reviews}} Reviews</span>
            </p>
          </article>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
        <section class="card">
          <article class="card-body px-3 pt-2 pb-0">
            <h6>Faclities Offered</h6>

            <p class="row m-0 pt-2">
              <label class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 custom-checkbox mb-2" *ngFor="let item of hotel.facility">
                <input type="checkbox">
                <span class="checkmark"></span>
                <span class="ratings ml-1">
                  {{item.name}}
                </span>
              </label>
            </p>
          </article>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
        <section class="card">
          <article class="card-body row justify-content-between px-3 pt-2 pb-0">
            <h6 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Nearby Locations</h6>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-1 fs-13" *ngFor="let item of hotel.near_by_restaurant">
              {{item.name}} <span class="float-right">1km</span>
            </div>
          </article>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
        <section class="card">
          <article class="card-body row px-3 pt-2 pb-0">
            <h6 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">What people say about this hotel</h6>

            <section class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
              <p class="rate-txt">
                <span class="rate rounded mr-1">4.5 </span>
                <span>Excellent</span>
                <span class="d-block pt-2 text-dark fs-14">"Lorem ipsum dummy text"</span>
                <span class="m-0 d-block">Jane Doe | 01 Jan 2019</span>
              </p>
            </section>

            <section class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0 mx-auto">
              <p class="h-75 border-left"></p>
            </section>

            <section class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
              <p class="rate-txt">
                <span class="rate rounded mr-1">4.5 </span>
                <span>Excellent</span>
                <span class="d-block pt-2 text-dark fs-14">"Lorem ipsum dummy text"</span>
                <span class="m-0 d-block">Jane Doe | 01 Jan 2019</span>
              </p>
            </section>
          </article>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
        <p class="alert bg-green text-500 text-center fs-14 text-center p-4">
          Marketing Banner
        </p>

        <h6 class="m-0 fs-14">Total Room Types & No of Rooms Available</h6>
        <p class="fs-10 mt-1 text-secondary"> Prices do not include taxes & fees</p>

        <div class="row m-0">
          <section class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
            <article class="card-body px-3 pt-2 pb-0">
              <h6 class="m-0 fs-14">2 Single beds in mixed dormitory room </h6>
              <p class="fs-10 mt-1 text-danger"> Last Booked in 20 mins!</p>

              <section class="row bg-grey">
                <article class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2 p-2">
                  <section class="image-wrapper">
                    <table class="table table-sm table-borderless m-0">
                      <tr>
                        <td>
                          <p><img src="../../assets/images/image3.png" class="img-card-right mw-100"></p>
                          <p class="d-flex">
                            <img src="../../assets/images/image3.png" class="img-card-right img-card-sm">
                            <img src="../../assets/images/image3.png" class="img-card-right img-card-sm">
                          </p>
                        </td>
                      </tr>
                    </table>
                  </section>

                  <ul class="list-unstyled">
                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                  </ul>
                </article>

                <article class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-10">
                  <div class="row mx-0 pt-2">
                    <label class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 px-2 mb-2 fs-13 text-500"> Benefits
                    </label>

                    <label class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 px-2 mb-2 fs-13 text-500"> Price per Night
                    </label>

                    <label class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 px-2 mb-2 fs-13 text-500"> Rooms </label>
                  </div>

                  <section class="row mx-0 mb-3 bg-white rounded">
                    <article class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3 border-right">
                      <p class="fs-13 mb-2">Your Price includes:</p>

                      <ul class="list-unstyled m-0">
                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>

                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>

                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>
                      </ul>
                    </article>

                    <article class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-3 py-3 border-right">
                      <span class="bg-red py-2 px-1 text-light fs-13 mt-2 rounded-right">
                        <i class="fa fa-bomb" aria-hidden="true"></i>
                        Last minute deal!
                      </span>
                      <p class="txt-inr-sm text-right-md pl-3 pt-3 m-0 fs-13">INR000</p>
                      <h5 class="m-0 text-right-md pl-3">INR0000<small class="fs-9 d-block">/Night</small></h5>
                    </article>

                    <article class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3 border-right">
                      <input type="number" class="form-control form-control-sm" placeholder="1" value="">
                    </article>

                    <article class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 p-3">
                      <button type="button" class="btn btn-sm btn-save">Show Rooms</button>
                    </article>
                  </section>

                  <section class="row mx-0 mb-3 bg-white rounded">
                    <article class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3 border-right">
                      <p class="fs-13 mb-2">Your Price includes:</p>

                      <ul class="list-unstyled m-0">
                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>

                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>

                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>
                      </ul>
                    </article>

                    <article
                      class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-3 py-3 border-right text-right-md pl-3">
                      <h6 class="text-success fs-13 text-400">Deal of the day!</h6>
                      <p class="txt-inr-sm m-0 fs-13">INR000</p>
                      <h5 class="m-0">INR0000<small class="fs-9 d-block">/Night</small></h5>
                    </article>

                    <article class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3 border-right">
                      <input type="number" class="form-control form-control-sm" placeholder="1" value="">
                    </article>

                    <article class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 p-3">
                      <button type="button" class="btn btn-sm btn-save">Show Rooms</button>
                    </article>
                  </section>
                </article>
              </section>
            </article>
          </section>

          <section class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
            <article class="card-body px-3 pt-2 pb-0">
              <h6 class="m-0 fs-14">2 Single beds in mixed dormitory room </h6>
              <p class="fs-10 mt-1 text-danger"> Last Booked in 20 mins!</p>

              <section class="row bg-grey">
                <article class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2 p-2">
                  <section class="image-wrapper">
                    <table class="table table-sm table-borderless m-0">
                      <tr>
                        <td>
                          <p><img src="../../assets/images/image3.png" class="img-card-right mw-100"></p>
                          <p class="d-flex">
                            <img src="../../assets/images/image3.png" class="img-card-right img-card-sm">
                            <img src="../../assets/images/image3.png" class="img-card-right img-card-sm">
                          </p>
                        </td>
                      </tr>
                    </table>
                  </section>

                  <ul class="list-unstyled">
                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                  </ul>
                </article>

                <article class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-10">
                  <section class="row mx-0 pt-2">
                    <label class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 px-2 mb-2 fs-13 text-500"> Benefits
                    </label>

                    <label class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 px-2 mb-2 fs-13 text-500"> Price per
                      Night
                    </label>

                    <label class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 px-2 mb-2 fs-13 text-500"> Rooms </label>
                  </section>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3 rounded border border-success">
                    <section class="row mx-0 px-3 py-2 text-light bg-success fs-13 text-500">
                      Recomended for you
                    </section>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
                      <section class="row mx-0 bg-white rounded">
                        <article class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3 border-right">
                          <p class="fs-13 mb-2">Your Price includes:</p>

                          <ul class="list-unstyled m-0">
                            <li>
                              <label class="custom-radioButton m-0">
                                <span class="rb-value">Whats included</span>
                                <input type="radio" name="credInvolved">
                                <span class="checkmark"></span>
                              </label>
                            </li>

                            <li>
                              <label class="custom-radioButton m-0">
                                <span class="rb-value">Whats included</span>
                                <input type="radio" name="credInvolved">
                                <span class="checkmark"></span>
                              </label>
                            </li>

                            <li>
                              <label class="custom-radioButton m-0">
                                <span class="rb-value">Whats included</span>
                                <input type="radio" name="credInvolved">
                                <span class="checkmark"></span>
                              </label>
                            </li>
                          </ul>
                        </article>

                        <article class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-3 py-3 border-right">
                          <span class="bg-red py-2 px-1 text-light fs-13 mt-2 rounded-right">
                            <i class="fa fa-bomb" aria-hidden="true"></i>
                            Last minute deal!
                          </span>
                          <p class="txt-inr-sm text-right-md pl-3 pt-3 m-0 fs-13">INR000</p>
                          <h5 class="m-0 text-right-md pl-3">INR0000<small class="fs-9 d-block">/Night</small></h5>
                        </article>

                        <article class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3 border-right">
                          <input type="number" class="form-control form-control-sm" placeholder="1" value="">
                        </article>

                        <article class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 p-3">
                          <button type="button" class="btn btn-sm btn-save">Show Rooms</button>
                        </article>
                      </section>
                    </div>
                  </div>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
                    <section class="row mx-0 bg-white rounded">
                      <article class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3 border-right">
                        <p class="fs-13 mb-2">Your Price includes:</p>

                        <ul class="list-unstyled m-0">
                          <li>
                            <label class="custom-radioButton m-0">
                              <span class="rb-value">Whats included</span>
                              <input type="radio" name="credInvolved">
                              <span class="checkmark"></span>
                            </label>
                          </li>

                          <li>
                            <label class="custom-radioButton m-0">
                              <span class="rb-value">Whats included</span>
                              <input type="radio" name="credInvolved">
                              <span class="checkmark"></span>
                            </label>
                          </li>

                          <li>
                            <label class="custom-radioButton m-0">
                              <span class="rb-value">Whats included</span>
                              <input type="radio" name="credInvolved">
                              <span class="checkmark"></span>
                            </label>
                          </li>
                        </ul>
                      </article>

                      <article
                        class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-3 py-3 border-right text-right-md pl-3">
                        <h6 class="text-success fs-13 text-400">Deal of the day!</h6>
                        <p class="txt-inr-sm m-0 fs-13">INR000</p>
                        <h5 class="m-0">INR0000<small class="fs-9 d-block">/Night</small></h5>
                      </article>

                      <article class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3 border-right">
                        <input type="number" class="form-control form-control-sm" placeholder="1" value="">
                      </article>

                      <article class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 p-3">
                        <button type="button" class="btn btn-sm btn-save">Show Rooms</button>
                      </article>
                    </section>
                  </div>
                </article>
              </section>
            </article>
          </section>

          <section class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
            <article class="card-body px-3 pt-2 pb-0">
              <h6 class="m-0 fs-14">2 Single beds in mixed dormitory room </h6>
              <p class="fs-10 mt-1 text-danger"> Last Booked in 20 mins!</p>

              <section class="row bg-grey">
                <article class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2 p-2">
                  <section class="image-wrapper">
                    <table class="table table-sm table-borderless m-0">
                      <tr>
                        <td>
                          <p><img src="../../assets/images/image3.png" class="img-card-right mw-100"></p>
                          <p class="d-flex">
                            <img src="../../assets/images/image3.png" class="img-card-right img-card-sm">
                            <img src="../../assets/images/image3.png" class="img-card-right img-card-sm">
                          </p>
                        </td>
                      </tr>
                    </table>
                  </section>

                  <ul class="list-unstyled">
                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>

                    <li>
                      <label class="custom-radioButton m-0">
                        <span class="rb-value">Facilities</span>
                        <input type="radio" name="credInvolved">
                        <span class="checkmark"></span>
                      </label>
                    </li>
                  </ul>
                </article>

                <article class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-10">
                  <div class="row mx-0 pt-2">
                    <label class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 px-2 mb-2 fs-13 text-500"> Benefits
                    </label>

                    <label class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 px-2 mb-2 fs-13 text-500"> Price per Night
                    </label>

                    <label class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 px-2 mb-2 fs-13 text-500"> Rooms </label>
                  </div>

                  <section class="row mx-0 mb-3 bg-white rounded">
                    <article class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3 border-right">
                      <p class="fs-13 mb-2">Your Price includes:</p>

                      <ul class="list-unstyled m-0">
                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>

                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>

                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>
                      </ul>
                    </article>

                    <article class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-3 py-3 border-right">
                      <span class="bg-red py-2 px-1 text-light fs-13 mt-2 rounded-right">
                        <i class="fa fa-bomb" aria-hidden="true"></i>
                        Last minute deal!
                      </span>
                      <p class="txt-inr-sm text-right-md pl-3 pt-3 m-0 fs-13">INR000</p>
                      <h5 class="m-0 text-right-md pl-3">INR0000<small class="fs-9 d-block">/Night</small></h5>
                    </article>

                    <article class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3 border-right">
                      <input type="number" class="form-control form-control-sm" placeholder="1" value="">
                    </article>

                    <article class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 p-3">
                      <button type="button" class="btn btn-sm btn-save">Show Rooms</button>
                    </article>
                  </section>

                  <section class="row mx-0 mb-3 bg-white rounded">
                    <article class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3 border-right">
                      <p class="fs-13 mb-2">Your Price includes:</p>

                      <ul class="list-unstyled m-0">
                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>

                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>

                        <li>
                          <label class="custom-radioButton m-0">
                            <span class="rb-value">Whats included</span>
                            <input type="radio" name="credInvolved">
                            <span class="checkmark"></span>
                          </label>
                        </li>
                      </ul>
                    </article>

                    <article
                      class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pl-0 pr-3 py-3 border-right text-right-md pl-3">
                      <h6 class="text-success fs-13 text-400">Deal of the day!</h6>
                      <p class="txt-inr-sm m-0 fs-13">INR000</p>
                      <h5 class="m-0">INR0000<small class="fs-9 d-block">/Night</small></h5>
                    </article>

                    <article class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-3 border-right">
                      <input type="number" class="form-control form-control-sm" placeholder="1" value="">
                    </article>

                    <article class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 p-3">
                      <button type="button" class="btn btn-sm btn-save">Show Rooms</button>
                    </article>
                  </section>
                </article>
              </section>
            </article>
          </section>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 mb-3">
        <section class="card">
          <article class="card-body px-3 pt-2 pb-0">
            <h6 class="mb-4">House Rules</h6>

            <ul class="list-unstyled">
              <li class="row mb-3">
                <section class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <label class="custom-radioButton fs-12 text-500 m-0">
                    <span class="rb-value">Check-in & Check-out</span>
                    <input type="radio" name="credInvolved">
                    <span class="checkmark"></span>
                  </label>
                </section>

                <section class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9">
                  <ul class="list-unstyled fs-12">
                    <li>Check-in from 02:30 PM</li>
                    <li>Check-out untill 12:30 PM</li>
                    <li>Reception open untill 02:00 AM</li>
                  </ul>
                </section>
              </li>

              <li class="row mb-3">
                <section class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <label class="custom-radioButton fs-12 text-500 m-0">
                    <span class="rb-value">Cancellation / Prepayment</span>
                    <input type="radio" name="credInvolved">
                    <span class="checkmark"></span>
                  </label>
                </section>

                <section class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9">
                  <ul class="list-unstyled fs-12">
                    <li>Cancellation and prepayment policies vary according to accomdations type. Please enter the dates
                      of your stay and check what conditions apply to your preffered room.</li>
                  </ul>
                </section>
              </li>

              <li class="row mb-3">
                <section class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <label class="custom-radioButton fs-12 text-500 m-0">
                    <span class="rb-value">Children and Beds</span>
                    <input type="radio" name="credInvolved">
                    <span class="checkmark"></span>
                  </label>
                </section>

                <section class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9">
                  <ul class="list-unstyled fs-12">
                    <li>children no allowed.</li>
                    <li>There's no capacity for cribs at this property</li>
                    <li>This property doesn't offer extra beds. </li>
                  </ul>
                </section>
              </li>

              <li class="row mb-3">
                <section class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  <label class="custom-radioButton fs-12 text-500 m-0">
                    <span class="rb-value">Pets</span>
                    <input type="radio" name="credInvolved">
                    <span class="checkmark"></span>
                  </label>
                </section>

                <section class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-9">
                  <ul class="list-unstyled fs-12">
                    <li>Pets are not allowed.</li>
                  </ul>
                </section>
              </li>
            </ul>
          </article>
        </section>
      </div>
    </div>

    <hr class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto pr-0 border-secondary">

    <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto" *ngIf="hotel">
      <h5 class="title col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">Similar Properties</h5>

      <article class="row  m-0">
        <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4  mb-3 relative">
          <img class="img-card-md" src="../../assets/images/image1.png">
          <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
          <p class="rate-txt m-0"><span class="rate rounded mr-1">4.5</span>
            Awesome. 1241 Reviews </p>
        </section>

        <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3 relative">
          <img class="img-card-md" src="../../assets/images/image2.png">
          <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
          <p class="rate-txt m-0"><span class="rate rounded mr-1">4.5</span>
            Awesome. 1241 Reviews </p>
        </section>

        <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3 relative">
          <img class="img-card-md" src="../../assets/images/image3.png">
          <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
          <p class="rate-txt m-0"><span class="rate rounded medium mr-1">4.5</span> Awesome. 1241 Reviews </p>
        </section>
      </article>
    </div>
  </div>
</div>