<footer class="pt-4">
  <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto">
    <div class="row m-0">
      <section class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-3">
        <h6 class="mb-1">About Us</h6>
        <ul class="list-unstyled">
          <li><a class="text-muted" href="#">Careers</a></li>
          <li><a class="text-muted" href="#">Press</a></li>
          <li><a class="text-muted" href="#">Blog</a></li>
        </ul>
      </section>

      <section class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-3">
        <h6 class="mb-1">Help</h6>
        <ul class="list-unstyled">
          <li><a class="text-muted" href="#">Help Center</a></li>
          <li><a class="text-muted" href="#">FAQs</a></li>
          <li><a class="text-muted" href="#">Privacy Policy</a></li>
          <li><a class="text-muted" href="#">Cookie Policy</a></li>
          <li><a class="text-muted" href="#">terms of use</a></li>
        </ul>
      </section>

      <section class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-3">
        <h6 class="mb-1">Partner with Us</h6>
        <ul class="list-unstyled">
          <li><a class="text-muted" href="#">Properties</a></li>
          <li><a class="text-muted" href="#">Affiliates</a></li>
        </ul>
      </section>

      <section class="col-3 col-md-3 col-lg-3 col-xl-3 mb-3">
        <h6 class="mb-1">Destinations</h6>
        <ul class="list-unstyled">
          <li><a class="text-muted" href="#">Countries/Territories</a></li>
          <li><a class="text-muted" href="#">Cities</a></li>
        </ul>

        <h6 class="mb-1 app-store">Download Our App</h6>
        <ul class="nav app-store">
          <li>
            <a class="text-muted" href="#">
              <img src="../../assets/images/home-mobile/google-play-badge.png" class="img-app mr-3">
            </a>
          </li>
          <li>
            <a class="text-muted" href="#">
              <img src="../../assets/images/home-mobile/download-on-the-app-store-apple.png" class="img-app">
            </a>
          </li>
        </ul>
      </section>

      <section class="row m-0 align-center d-md-none d-lg-none d-xl-none mb-3 px-3">
        <h6 class="mb-1 mr-3">Download Our App</h6>
        <ul class="nav">
          <li>
            <a class="text-muted" href="#">
              <img src="../../assets/images/home-mobile/google-play-badge.png" class="img-app mr-3">
            </a>
          </li>
          <li>
            <a class="text-muted" href="#">
              <img src="../../assets/images/home-mobile/download-on-the-app-store-apple.png" class="img-app">
            </a>
          </li>
        </ul>
      </section>
    </div>

    <hr class="my-0">

    <div class="row m-0">
      <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 copyright-section mb-5">
        <img class="mb-2" src=" " class="">
        <small class="d-block mb-3 text-muted">Copyright © 2019 wwalks.com. All rights reserved.</small>
      </section>
    </div>

  </div>
</footer>