<div class="content-wrapper">
  <div class="py-5">
    <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-7 ">
        <div class="row mb-4">
          <div class="col-12">
            <div class="banner-head">
              <h6 >Marketing Banner</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <article class="card-body p-0">
                <div class="card-header">
                  <span class="mr-3">lorem bla bla bla in </span>
                  <span class="time">00:00:00</span>
                </div>
                <form class="card-body">
                  <h5 class="card-subtitle mb-3">
                    Tell us about yourself
                  </h5>
                  <div class="control-group">
                    <label class="payment-label">Full name</label>
                    <input class="form-control form-control-sm" value="">
                  </div>
                  <div class="control-group">
                    <label class="payment-label">Email</label>
                    <input type="email" class="form-control form-control-sm" value="">
                  </div>
                  <div class="control-group">
                    <label class="payment-label">Retype Email</label>
                    <input type="email" class="form-control form-control-sm" value="">
                  </div>
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <div class="control-group">
                        <label class="payment-label">Phone Number</label>
                        <div class="d-flex">
                          <input class="form-control form-control-sm country-code" value="+91">
                          <input class="form-control form-control-sm flex-grow-1" value="" placeholder="Phone Number">
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-lg-6">
                      <div class="control-group">
                        <label class="payment-label">Country / Region of residence</label>
                        <select class="form-control form-control-sm" value="">
                          <option>India</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                  <div class="control-group">
                    <label class="payment-label">Let us know your preference</label>
                    <div class="row">
                      <div class="col-6">
                        <label class="custom-checkbox">
                          <input type="checkbox">
                          <span class="checkmark"></span>
                          <span class="ratings ml-1">
                            I'd like a large bed
                          </span>
                        </label>
                      </div>
                      
                      <div class="col-6">
                        <label class="custom-checkbox">
                          <input type="checkbox">
                          <span class="checkmark"></span>
                          <span class="ratings ml-1">
                            I'd like a twin beds
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  
                  <div class="control-group">
                    <label class="payment-label">Let us know when you are arriving</label>
                    <div>We'll let the property or host know when to expect you</div>
                    <select type="number" class="form-control form-control-sm">
                      <option>I don't</option>
                      <option>I don't</option>
                      <option>I don't</option>
                    </select>
                  </div>

                  <div class="text-mute mb-3">
                    By proceeding with this booking, I agree to Wwalk's Terms of Use and Privacy Policy.
                  </div>
                  <div class="d-flex justify-content-end">
                    <button class="btn payment-btn">
                      <div class="proceed-to">Proceed to</div>
                      <div class="payment">Payment</div>
                    </button>
                  </div>
                </form>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 mx-auto">

        <div class="row mb-5">
          <div class="col-12">
            <div class="card">
              <article class="card-body row m-0 px-3 py-2">
                <div class="col-12 col-md-5 px-0">
                  <div class="ratio-img">
                    <div class="content-img" [ngStyle]="{'background-image': 'url(assets/images/image3.png)'}">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-7">
                  <div class="d-flex flex-column justify-content-between h-100">
                    <h6 class="mb-0">
                      Hotel Name - Lorem Ipsum
                      <span class="d-block fs-13 text-400 pt-2">Hotel Address</span>
                    </h6>
                    <div class="rate-txt d-flex ">
                      <span class="rate rounded mr-1">4.5 </span>
                      <span>Awesome.</span>
                      <span>1241 Reviews</span>
                    </div>
                  </div>
                </div>                
              </article>
            </div>
          </div>
        </div>
        
        <div class="row mb-5">
          <div class="col-12">
            <div class="card">
              <article class="card-body py-0 px-0">
                <div class="checkout-result pt-3">
                  <div class="d-flex">
                    <div class="last-badg">
                      <img src="assets/images/bomb.png" alt="">
                      <span>Last minute deal!</span>
                    </div>
                  </div>
                  <div class="px-3 pt-4 pb-3">
                    <div class="d-flex justify-content-between mb-3">
                      <div>
                        <h5 >2 Jan 2020 - 3 Jan 2020</h5>
                        <span>1 × 2 Single Beds in Mixed Dormitory Room</span>
                      </div>
                      <div>
                        <span class="d-block">1 night</span>
                        <span class="d-block">Change</span>
                      </div>
                    </div>
                    <div class="border-bottom pb-2 mb-3 ">
                      <label class="custom-checkbox mb-2">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <span class="ratings ml-1">
                          1 room, 2 adults
                        </span>
                      </label>
                      
                      <label class="custom-checkbox mb-2">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <span class="ratings ml-1">
                          max 2 adults
                        </span>
                      </label>
                      
                      <label class="custom-checkbox mb-2">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <span class="ratings ml-1">
                          Breakfast included
                        </span>
                      </label>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span>Original price(1 room × 1 night) </span>
                      <span class="inr-amount-sm"> INR 0000</span>
                    </div>
                    <div class="d-flex justify-content-between">
                      <span>Price(1 room × 1 night) </span>
                      <span class="inr-amount"> INR 0000</span>
                    </div>
                  </div>
                </div>
                
                <div class="px-3">
                  <div class="d-flex justify-content-between align-items-center my-3">
                    <div>
                      <div class="d-flex align-items-center">Price<mat-icon class="ml-2">error_outline</mat-icon> </div>
                      <span>Inclusive of service charge 28%</span>
                    </div>
                    <div class="inr-amount"> INR 0000</div>
                  </div>
                  <div class="saved-amount mb-3">
                    You saved INR 00000
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>