<div class="row m-0 py-3">
  <section class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
    <article class="bg-grey rounded-lg">
      <nav class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3 border-bottom">
        <ul class="nav menu nav-fill w-100 ">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <img src="../../assets/images/hotel.svg" class="mr-2">
              <p class="m-0"> HOTELS </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../../assets/images/ferris-wheel.svg" class="mr-2">
              <p class="m-0"> ACTIVITIES </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../../assets/images/home-mobile/tours.svg" class="mr-2">
              <p class="m-0"> TOURS </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../../assets/images/home-mobile/pickupdrop.svg" class="mr-2">
              <p class="m-0 pt-2"> PICKUP/DROP </p>
            </a>
          </li>
        </ul>
      </nav>

      <article class="row m-0 px-3 search-wrapper">
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 relative">
          <label>Hotel / City</label>
          <input type="text" class="form-control input-control input-first" placeholder="e.g. Singapore">
        </p>

        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 relative">
          <label>Check In</label>
          <input type="text" class="form-control input-control" placeholder="DD/MM/YYYY">
        </p>

        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 relative">
          <label>Check Out</label>
          <input type="text" class="form-control input-control" placeholder="DD/MM/YYYY">
        </p>

        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 relative">
          <label>Guests</label>
          <input type="text" class="form-control input-control" placeholder="2 Adults 1 Child">
        </p>

        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 relative">
          <input type="button" class="btn btn-search p-2 btn-block btn-warning" value="Search">
        </p>
      </article>
    </article>
  </section>

  <section class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
    <article class="p-3 bg-grey d-flex align-center justify-content-center rounded-lg loc-wrapper">
      <button type="button" class="btn btn-sm btn-save">Map View</button>
    </article>
  </section>

  <section class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
    <article class="px-3 pt-2 border rounded-lg">
      <h6>Star Ratings</h6>

      <p class="mt-1">
        <label class="custom-checkbox mb-2">
          <input type="checkbox">
          <span class="checkmark"></span>
          <span class="ratings ml-1">
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
          </span>
        </label>

        <label class="custom-checkbox mb-2">
          <input type="checkbox">
          <span class="checkmark"></span>
          <span class="ratings ml-1">
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
        </label>

        <label class="custom-checkbox mb-2">
          <input type="checkbox">
          <span class="checkmark"></span>
          <span class="ratings ml-1">
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
        </label>

        <label class="custom-checkbox mb-2">
          <input type="checkbox">
          <span class="checkmark"></span>
          <span class="ratings ml-1">
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
        </label>

        <label class="custom-checkbox mb-2">
          <input type="checkbox">
          <span class="checkmark"></span>
          <span class="ratings ml-1">
            <i class="fa fa-star active" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
        </label>
      </p>
    </article>
  </section>

  <section class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
    <article class="p-3 border rounded-lg recomend-wrapper">
      <h6>Recomend For</h6>

      <ul class="nav flex-column">
        <li>
          <span>Family</span>
          <span class="float-right txt-count">20</span>
        </li>

        <li>
          <span>Business</span>
          <span class="float-right txt-count">15</span>
        </li>

        <li>
          <span>Solo</span>
          <span class="float-right txt-count">80</span>
        </li>
      </ul>
    </article>
  </section>

  <section class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
    <article class="p-3 border rounded-lg price-wrapper">
      <h6>Pricing per Person</h6>

      <article class="form-group" *ngIf="minValue">
        <p class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-0">
          <span>Range</span>
          <span class="float-right txt-count text-dark text-500">INR{{minValue}} - {{maxValueSelected}}</span>
        </p>

        <input  #ref (change)="changeValue(ref.value)" type="range" class="form-control-range" id="formControlRange" min={{minValue}} max={{maxValue}} value={{defaultRange}} step="1500">
      </article>
    </article>
  </section>


  <!--section class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
    <article class="p-3 border rounded-lg">
      <h6>Facilities </h6>

      <ul class="nav flex-column">
        <li class="fs-13">
          <span>Free Breakfast</span>
          <span class="float-right txt-count">20</span>
        </li>

        <li class="fs-13">
          <span>Free Wifi</span>
          <span class="float-right txt-count">15</span>
        </li>

        <li class="fs-13">
          <span>Bar/Lounge</span>
          <span class="float-right txt-count">80</span>
        </li>

        <li class="fs-13">
          <span>Swimming Pool</span>
          <span class="float-right txt-count">80</span>
        </li>

        <li class="fs-13">
          <span>Spa</span>
          <span class="float-right txt-count">80</span>
        </li>
      </ul>
    </article>
  </section>


  <section class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mt-2 mb-3">
    <article class="p-0">
      <button type="button" class="btn btn-block btn-outline-secondary">More</button>
    </article>
  </section-->

  <section class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
    <article class="p-3 border rounded-lg">
      <h6>Questions you may have </h6>

      <p class="fs-13">
        Find quick answers or ask a question to teh property
      </p>

      <p class="d-flex fs-13">
        <span class="px-2 py-1 border">
          <small>icon</small>
        </span>

        <span class="pl-3 text-500">
          Is locker provided?

          <span class="d-block text-400 text-secondary fs-9">Sorry we do not providedteh locker</span>
        </span>
      </p>

      <p>
        <button class="btn btn-sm btn-block btn-outline-warning" type="button">Ask a question</button>
      </p>

      <p class="fs-13"> The property usually replies within few days </p>

      <ul class="nav flex-column">
        <li class="fs-13">
          <span>Free Breakfast</span>
          <span class="float-right txt-count">20</span>
        </li>

        <li class="fs-13">
          <span>Free Wifi</span>
          <span class="float-right txt-count">15</span>
        </li>

        <li class="fs-13">
          <span>Bar/Lounge</span>
          <span class="float-right txt-count">80</span>
        </li>

        <li class="fs-13">
          <span>Swimming Pool</span>
          <span class="float-right txt-count">80</span>
        </li>

        <li class="fs-13">
          <span>Spa</span>
          <span class="float-right txt-count">80</span>
        </li>
      </ul>
    </article>
  </section>

  <section class="col-12 co-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mb-3">
    <article class="p-3 border rounded-lg">
      <h6>Reviews</h6>

      <p class="fs-13"> What people say about this hotel </p>

      <p class="fs-13"> The property usually replies within few days </p>

      <ul class="nav flex-column rate-list">
        <li class="rate-txt border-bottom pb-3 mb-3">
          <span class="rate rounded mr-1">4.5 </span>
          <span>Excellent</span>
          <span class="d-block pt-2 text-dark fs-14">"Lorem ipsum dummy text"</span>
          <span class="m-0 d-block">Jane Doe | 01 Jan 2019</span>
        </li>

        <li class="rate-txt border-bottom pb-3 mb-3">
          <span class="rate rounded mr-1">4.5 </span>
          <span>Excellent</span>
          <span class="d-block pt-2 text-dark fs-14">"Lorem ipsum dummy text"</span>
          <span class="m-0 d-block">Jane Doe | 01 Jan 2019</span>
        </li>

        <li class="rate-txt border-bottom pb-3 mb-3">
          <span class="rate rounded mr-1">4.5 </span>
          <span>Excellent</span>
          <span class="d-block pt-2 text-dark fs-14">"Lorem ipsum dummy text"</span>
          <span class="m-0 d-block">Jane Doe | 01 Jan 2019</span>
        </li>

        <li class="rate-txt border-bottom pb-3 mb-3">
          <span class="rate rounded mr-1">4.5 </span>
          <span>Excellent</span>
          <span class="d-block pt-2 text-dark fs-14">"Lorem ipsum dummy text"</span>
          <span class="m-0 d-block">Jane Doe | 01 Jan 2019</span>
        </li>
      </ul>
    </article>
  </section>
</div>
