<main class="content-wrapper">
  <app-banner></app-banner>

  <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11 mx-auto home-wrapper">
    <div class="row mx-0 mb-4 destination-wrapper">
      <h5 class="title col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">Famous Destinations</h5>

      <section class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-2 relative">
        <small class="img-text">Singapore</small>
        <img src="../../assets/images/location1.png" class="img-card-sm">
      </section>

      <section class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-2  relative">
        <small class="img-text">Bali</small>
        <img src="../../assets/images/location2.png" class="img-card-sm">
      </section>

      <section class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-2  relative">
        <small class="img-text">Thailand</small>
        <img src="../../assets/images/location3.png" class="img-card-sm">
      </section>

      <section class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-2  relative">
        <small class="img-text">Browse All</small>
        <img src="../../assets/images/location4.png" class="img-card-sm">
      </section>
    </div>

    <div class="row mx-0 mb-4 hotel-wrapper">
      <h5 class="title col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">Popular Hotels and Accomodations</h5>

      <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4  mb-3 relative">
        <img src="../../assets/images/image1.png" class="img-card-md">
        <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
        <p class="rate-txt m-0">
          <span class="rate rounded mr-1">4.5</span>
          Awesome. 1241 Reviews
        </p>
      </section>

      <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3 relative">
        <img src="../../assets/images/image2.png" class="img-card-md">
        <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
        <p class="rate-txt m-0">
          <span class="rate rounded mr-1">4.5</span>
          Awesome. 1241 Reviews
        </p>
      </section>

      <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3 relative">
        <img src="../../assets/images/image3.png" class="img-card-md">
        <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
        <p class="rate-txt m-0">
          <span class="rate rounded medium mr-1">4.5</span>
          Awesome. 1241 Reviews
        </p>
      </section>
    </div>

    <div class="row mx-0 mb-4 hot-deal-wrapper">
      <h5 class="title col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">Hot Deals</h5>

      <section class="row px-3">

        <article class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <img src="../../assets/images/home-mobile/banner1@2x.png" class="img-card-left">
        </article>

        <article class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <img src="../../assets/images/home-mobile/banner2@2x.png" class="img-card-right mb-3 mb-lg-4">

          <img src="../../assets/images/home-mobile/banner3@2x.png" class="img-card-right">
        </article>
      </section>
    </div>

    <div class="row mx-0 mb-4 recent-search-wrapper">
      <h5 class="title col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">Recently searched Places</h5>

      <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4  mb-3 relative">
        <img src="../../assets/images/image1.png" class="img-card-md">
        <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
        <p class="rate-txt m-0">
          <span class="rate rounded mr-1">4.5</span>
          Awesome. 1241 Reviews
        </p>
      </section>

      <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3 relative">
        <img src="../../assets/images/image2.png" class="img-card-md">
        <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
        <p class="rate-txt m-0">
          <span class="rate rounded mr-1">4.5</span>
          Awesome. 1241 Reviews
        </p>
      </section>

      <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-3 relative">
        <img src="../../assets/images/image3.png" class="img-card-md">
        <p class="card-txt mb-1 mt-2">Hotel Name - Loreum Ipsum</p>
        <p class="rate-txt m-0">
          <span class="rate rounded medium mr-1">4.5</span>
          Awesome. 1241 Reviews
        </p>
      </section>
    </div>
  </div>

</main>